{%extends 'base.html'%}

{% block content%}
    <h2>Welcome {{request.user.username}} </h2>
    <ul>
        {% for detail in userdetails%}
        <li> Name: {{detail.name}}  </li>
        <li> Age: {{detail.age}}  </li>
        
            <li>Your skills are:</li>
            {% for skill in detail.known_skills.all %}
              <li>{{skill.skill_name}} </li>
            {% endfor %}
        <li> Roles You want to apply for ::</li>
        {% for role in detail.role.all %}
        <li> {{role.position_name}}</li>
        {%endfor%}
        {%endfor%}
        <a href="{% url 'details'%}">  Company details</a>
    </ul>
{% endblock %}